---
---

@import "moonwalk";
@import "list";
@import "syntax";


.page-content {
    position: relative;
    z-index: 1; /* Ensure content stays above the particles */
    padding: 20px; /* Add padding if needed for better spacing */
  }